
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Coming+Soon&family=Dancing+Script&family=Josefin+Sans&family=Lato:ital,wght@0,100;0,400;1,300&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Reem+Kufi+Ink&family=Roboto:ital@0;1&display=swap');
                                                              // 
                                                                // 
                                                                       // 
                                                                            //
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    line-height: 1.8;
    font-size: 15px;
    background-color: black;
    
}



h1, h2, h3, h4, h5, h6{
    @include heading-values;

}

                                                              // 
                                                                // 
                                                                       // 
                                                                            //
                                    //SASS FUNCTION/// 

@mixin heading-values {
    font-weight: 700;
    letter-spacing: 2px !important;
    text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
    1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);
}
                                                              // 
                                                                // 
                                                                       // 
                                                                            //
                                    // SASS FUNTION END///
a{
    font-weight: 700px !important;
    transition: all 0.4 ease;
}


img{
    width: 100%;
}

small{
    font-size: 12px;
    letter-spacing: 2px;

}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}
                                                              // 
                                                                // 
                                                                       // 
                                                                            // 
                            /* LOGO  */
.logo{
    font-size: 30px !important;
    color: rgba(255, 249, 249, 0.945);
    cursor: pointer;
    padding-left:5px;
    border-radius: 30px;
    padding: 10px 6px 6px 6px;
    box-shadow:  0px 0px 5px rgba(93, 28, 102, 0.572), 0px 0px 25px rgba(180, 180, 180, 0.984);
    background-color: black;
    color: #fffaff ;
    transition: all .4s ease;
}

.aLogo{
    text-decoration: none;
}



.logo:hover{
    color: rgb(0, 0, 0);
    transition: all .4s ease;
    -webkit-transition: all .8s ease;
    transform: scale(0.9);
    box-shadow:  2px 0px 25px rgb(65, 84, 208), 0px 0px 10px rgba(255, 129, 129, 0.984);
}


.vRed{
    color: #fc5356;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}
.vBlue{
    color: #4513d1;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

                                            // *LOGO ENDS//
                                            
                                            /* NAV BAR */
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    font-size: 20px;
    text-align: center;
}

nav ul li a:hover{
    text-decoration: underline !important;
    
}


.navbar{
    background-color: black !important;

}


.navbar-dark .navbar-nav .nav-link.active{
    color: #fc5356 !important;
}


.btn{ 
    a{
        color: #fffaff !important;
        text-decoration: none;
        border: none;
    }
}

.btn:hover{
background-color: #4513d1 ;
border: none;
}

                                                // *NAVBAR ENDS//
                                                
                                                /* HOME PAGE STARTS */
#home{
    text-align: center !important;
    padding-right: 21px !important;
    height: calc(100vh - 20px);
    width: 100%;
    background: url(https://javiercerveral.github.io/ProyectoFinalCoderhouse/media/trees\ back.jpeg) no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    

}

.newsletter #submit{

    outline: none;
    border: none;
    border-radius: 30px;
    padding: 1px 20px;
    background-color: #0818A8;
    color: #eeeeee;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px rgb(76, 76, 76);
    
    
}

.newsletter form input:first-child{

    width: 50%;
    padding: 2px 1px 2px 1px; 
    border: 2px solid #a8181f;
    outline: none;
    border-radius: 30px ;
    
}

.myName{
    font-size: 6rem;
    letter-spacing: 5px;
    
}


.webDevText{
    font-size: 2rem;
    @include heading-values;
}



                                                /* HOME PAGE ENDS */

                                                /* ABOUT ME PAGE  STARTS*/
.about-text{
    h3 {
        font-size: 70px;
        font-weight: 700;
        margin: 0 0 6px;
    }
    h6 {
        font-weight: 600;
        margin-bottom: 15px;
    }
    p {
        font-size: 14px;
        max-width: 450px;
}
}


@media (max-width: 767px) {
        .about-text h3 {
            font-size: 66px;
    }
    
}


@media (max-width: 767px) {
    .about-text h6 {
    font-size: 18px;
    }
}


.about-list {
    padding-top: 10px;

    .media {
        padding: 5px 0;
    }

    label {
        color: #4513d1;
        font-weight: 600;
        width: 88px;
        margin: 0;
        position: relative;
        font-size: 18px;
    }

    p {
        margin: 0;
        font-size: 15px;
    }

} 



@media (max-width: 991px) {
    .about-avatar {
    margin-top: 30px;
    }
}



.about-section{
    .counter {
        padding: 22px 20px ;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    }
}

.about-section .counter .count-data {
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-section .counter .count {
    font-weight: 700;
    color: #656567;
    margin: 0 0 5px;
}
.about-section .counter p {
    font-weight: 600;
    margin: 0;
}


#about{
    background-color: #000;
    color: #fffaff;
}

.me{
    border-radius: 50% !important;
}



                                                            /* ABOUT ME PAGE  ENDS*/
                                                            
                                                            /* SERVICES PAGE STARTS */

.feature-box-1 {
    padding: 32px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    margin: 15px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    top: 0;
}


  .feature-box-1 * {
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}


.feature-box-1 .icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #fc5356;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 22px;
    font-size: 27px;
}


.feature-box-1 .icon i {
    line-height: 70px;
}


.feature-box-1 h5 {
    color: #4513d1;
    font-weight: 600;
}


.feature-box-1 p {
    margin: 0;
}


.feature-box-1:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    border-radius: 10px;
    width: 0;
    background: #4513d1;
    z-index: -1;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
}


.feature-box-1:hover {
    top: -5px;
}


.feature-box-1:hover h5 {
    color: #ffffff;
}


.feature-box-1:hover p {
    color: rgba(255, 255, 255, 0.8);
}


.feature-box-1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    right: auto;
}


.section {
    padding: 100px 0;
    position: relative;
}


.section-title {
    padding-bottom: 45px;
    
    h2 {
        font-weight: 700;
        color: #4513d1;
        font-size: 45px;
        margin: 0 0 15px;
        padding-left: 15px;
    }

}





                                                              // 
                                                                // 
                                                                       // 
                                                                            //
                                            /* PROJECT PAGE STARTS */
                                            
                                            /* FOOTER */


.footer{
    border-top: 1px groove #fffaff;
    background-color: rgb(182, 177, 177) !important;
    color: #fffaff !important;
    a{
        text-decoration: none !important;
        color: #4513d1;
    }
}


i{
font-size: 45px;
}